<!-- by hx-target we are telling which specific small part to re-render. Amazing! -->

<!-- <p>Only the yellow block below is being re-rendered. Even this line is not
     being re-rendered. Total countries: {{countries.count}}. Ok this line is an interesting example</p> -->

<div id="countries"
     style="background-color: yellow; padding: 20px;"
     hx-target="#countries"
     hx-swap="outerHTML">
    {% for country in countries %}
    <div>{{ forloop.counter }} {{ country.name }} {{country.id}}
	<!-- <a href="{% url 'lol' country.id %}">Del</a> -->
	<button hx-delete="{% url 'lol' country.id %}">Delete?</button>
    </div>
    {% endfor %}
</div>
